<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Crypto Tax Calculator</h1>
      <nav>
        <% for(i = 0; i < coins.length; i++) { %>
            <a href="/cryptocalculator/<%=coins[i].id%>"><%=coins[i].name%></a>
        <% } %>
      </nav>
      <a href="/cryptocalculator/new">Add new asset</a>

        <form>
            <input type="text" name="" value="">
            <input type="submit" name="" value="">
        </form>

  </body>
</html>
