<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Crypto Tax Calculator</h1>
      <nav>
        <% for(i = 0; i < coins.length; i++) { %>
            <a href="/cryptocalculator/<%=coins[i].id%>"><%=coins[i].name%></a>
        <% } %>
      </nav>
      <a href="/cryptocalculator/new">Add new asset</a>

        <form action="/cryptocalculator/calculated" method="POST">
            Cryptocurrency: <input type="text" name="crypto" value=""><br/>
            Amount Invested: <input type="text" name="invested" value=""><br/>
            Amount of Coins: <input type="text" name="numCoins" value=""><br/>
            Current Price: <input type="text" name="price" value=""><br/>
            <p>Tax rate: 30%</p>
            <input type="submit" value="Calculate">
        </form>

  </body>
</html>
