<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/header.ejs %>
    <title>New Crypto Asset</title>
  </head>
  <body>
      <div class="header center">
        <h1>Add New Crypto Asset</h1>
      </div>
      <div class="main">
        <form action="/cryptocalculator" method="POST">
          <input type="text" name="name" placeholder="Name"><br/>
          <input type="text" name="price" placeholder="Price"><br/>
          <input type="text" name="image" placeholder="Image URL"><br/>
          <input type="text" name="description" placeholder="Description"><br/>
          <!-- Description: <input name="description"></textarea><br/> -->
          <button class="showButton">Create</button>
        </form>
        <a href="/cryptocalculator" class="showButton">Back to Main</a>
      </div>
  </body>
</html>
