<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1><%=coins.name%></h1><br/>
      <img src="<%=coins.image%>"/><br/>
      <p><%=coins.description%></p>
  </body>
</html>
